<div>
    <app-navbar></app-navbar> 
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a routerLink=".."><i class="fa fa-arrow-left" style="color: black;"></i> </a>  &nbsp;&nbsp;<strong class="card-title">Planifier</strong>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="row"> 
                            <div class="col col-md-6">
                                <h4>  Titre Cours :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Cours Introduction </h4>
                            </div>
                            <div class="col col-md-6" style="float: right;">
                                <h4>  Titre Programme :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Programme IC Canada </h4>
                            </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label   class=" form-control-label">Date début</label>
                                </div>
                               
                              <div class="input-group col col-md-4">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                       name="dd" [(ngModel)]="date_exacte" ngbDatepicker #dd="ngbDatepicker">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="dd.toggle()" type="button"></button>
                                </div>
                              </div>
                             
                               
                             
                            </div>
                            <br><br><br> 
                            <div class="row form-group">
                                <div class="col col-md-2" style="margin-right: 40px;margin-top: 10px;">
                                    <label   class=" form-control-label">Heure début</label>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col col-md-3" style="margin-top: 10px;" > 
                                <ejs-timepicker [value]='heure_debut' [min]='minValue' [max]='maxValue'></ejs-timepicker>
                                </div>



                                <div class="col col-md-2" style="margin-right: 40px;margin-top: 10px;">
                                    <label   class=" form-control-label">Heure Fin</label>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col col-md-3" style="margin-top: 10px;" > 
                                <ejs-timepicker [value]='heure_fin' [min]='minValue' [max]='maxValue'></ejs-timepicker>
                                </div>
                                 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                     
                                   
                                       
                            </div>
                             <br><br>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Description</label></div>
                                <div class="col-12 col-md-8"><textarea name="textarea-input" id="textarea-input"  class="form-control"></textarea></div>
                            </div>
                        
                             
                             
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>