<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
            
                 <div class="login-form">
                    <form class="form-group" (ngSubmit)="login()">
                        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
        
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>
                            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="userModel.username" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label>Mot de Passe</label>
                            <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="userModel.password" id="password" name="password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Mémoriser le mot de passe
                            </label>
                            <label class="pull-right">
                                <a href="#">Mot de passe oublié</a>
                            </label>

                        </div>
                        <button  class="btn btn-primary btn-flat m-b-30 m-t-30"   >Se Connecter</button>
                        <!--<div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Sign in with facebook</button>
                                <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Sign in with twitter</button>
                            </div>
                        </div>-->
                        <div class="register-link m-t-15 text-center">
                            <p>Vous n'avez pas de compte ? <a href="/register"  > S'inscrire</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>