
<div>
    <app-navbar></app-navbar> 
<div class="content">

    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Programme IC Canada</strong>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
                       
                              
                       
                      </div>
                     
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                     <div class="card-body"> 
                        <div class="table-stats order-table ov-h" style="float: center;">
                             
                            <table class="table">
                                <thead>
                                    <th> </th>
                                    <th><select name="select" id="select" class="form-control">
                                        <option value="0">Please select</option>
                                        <option value="1">Semaine</option>
                                        <option value="2">Lundi</option>
                                        <option value="3">Mardi</option>
                                        <option value="3">Mercredi</option>
                                        <option value="3">Jeudi</option>
                                        <option value="3">Vendredi</option>
                                        <option value="3">Samedi</option>
                                    </select></th>
                                    <th></th>
                                    <th><ejs-timepicker [value]='heure_debut' [min]='minValue' [max]='maxValue'></ejs-timepicker></th>
                                    <th> <ejs-timepicker [value]='heure_fin' [min]='minValue' [max]='maxValue'></ejs-timepicker></th>
                                    <th></th>
                                </thead>
                                <thead>
                                    <th>Cours</th>
                                    <th>
                                        Jour
                                        <!--<select name="select" id="select" class="form-control">
                                        <option value="0">Please select</option>
                                        <option value="1">Semaine</option>
                                        <option value="2">Lundi</option>
                                        <option value="3">Mardi</option>
                                        <option value="3">Mercredi</option>
                                        <option value="3">Jeudi</option>
                                        <option value="3">Vendredi</option>
                                        <option value="3">Samedi</option>
                                    </select>-->
                                </th>
                                    <th>Date</th>
                                    <th>Heure début</th>
                                    <th>Heure fin</th>
                                    <th>Durée</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cours of courses">
                                        <td>{{cours.titre}}</td>
                                        <td><select name="jour" id="jour" class="form-control" (change)="setValue(jour.value)"  [(ngModel)]="jour">
                                            <option value="0">Please select</option>
                                            <option value="1">Semaine</option>
                                            <option value="2">Lundi</option>
                                            <option value="3">Mardi</option>
                                            <option value="4">Mercredi</option>
                                            <option value="5">Jeudi</option>
                                            <option value="6">Vendredi</option>
                                            <option value="7">Samedi</option>
                                        </select></td>
                                        <td>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Choose a date</mat-label>
                                                <input matInput [matDatepicker]="date_exacte">
                                                <mat-datepicker-toggle matSuffix [for]="date_exacte"></mat-datepicker-toggle>
                                                <mat-datepicker #date_exacte></mat-datepicker>
                                              </mat-form-field>
                                              <!--<ejs-datepicker [value]='date'></ejs-datepicker>-->

                                        </td>
                                        <td>  
                                            <ejs-timepicker [value]='heure_debut' [min]='minValue' [max]='maxValue'></ejs-timepicker>
                                            </td>
                                        <td>
                                                 <ejs-timepicker [value]='heure_fin' [min]='minValue' [max]='maxValue'></ejs-timepicker>
                                         </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                         

                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>