<app-sidebar></app-sidebar>
<div class="right-panel" id="right-panel">
    <app-navbar></app-navbar> 
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">                        <a routerLink=".."><i class="fa fa-arrow-left" style="color: black;"></i> </a>  &nbsp;&nbsp;<strong class="card-title">Programme {{programme.titre}}</strong></strong>
                    </div>
                    <div class="card-body"> 
                        <div class="col-sm-12">
                            <div class="col col-md-8">
                                <h3>  Titre du groupe :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Programme {{programme.titre}} </h3>
                            </div>
                            <div class="row">
                            <div class="col col-md-8" style="float: left;">
                                <h3>&nbsp;&nbsp;Durée :   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     {{programme.duration}} </h3>
                            </div>
                            <div class="col col-md-4" style="float:right">
                                <h3 class="page-header">Capacité    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Min :   {{programme.min}}   &nbsp;&nbsp; Max: {{programme.max}}  </h3>
                            </div>
                            </div>
                            <br>
                            <div class="col col-md-8" style="float: left;">
                                <h3>&nbsp;&nbsp;<b> Liste des demandes formateurs  </b>   </h3>
                            </div>
                            <div class="col col-md-8" style="float: left;">
                                <ul class="nav d-flex justify-content-center">
                                    <li class="nav-item mx-lg-4">
                                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" id="acceptes-tab" data-toggle="tab" href="#acceptes" role="tab" aria-controls="acceptes" aria-selected="true"  (click)="accept()">Acceptés</a>
                                    </li>
                                    <li class="nav-item mx-lg-4">
                                        <a class="filter-btn nav-link btn-outline-primary shadow rounded-pill text-dark px-4 light-300"  id="enattente-tab" data-toggle="tab" href="#enattente" role="tab" aria-controls="enattente" aria-selected="true"  (click)="enattente()" >En Attente</a>
                                    </li>
                                    <li class="nav-item mx-lg-4">
                                        <a class="filter-btn nav-link btn-outline-primary shadow rounded-pill text-dark px-4 light-300"  id="refuses-tab" data-toggle="tab" href="#refuses" role="tab" aria-controls="refuses" aria-selected="true" (click)="refuses()"  >Réfusés</a>
                                    </li>
                                </ul>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="acceptes" role="tabpanel" aria-labelledby="acceptes-tab">
                                    <br><br><br>
                                    <div *ngIf="(demandesA$ | async)?.length == 0" style="margin-left: 300px;margin-top: 100px;"><h3> <b> Aucune demande Acceptée est trouvée</b></h3></div>
                                
                                  
                                    <div class="table-stats order-table ov-h" style="float: left;">
                                         <table class="table " *ngIf="(demandesA$ | async)?.length > 0">
                                     <thead>
                                        <tr>
                                             
                                            <th>Formateur</th>
                                            <th>Date début</th>
                                            <th>Date Fin</th>
                                            <th>Actions</th>
                                           
                                         </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor ="let demande of demandesA$|async ;let i=index"> 
                                             
                                             <td   >  
                                                <a href="/profile/{{demande.formateur}}"><b> {{demande.formateur_name}}  </b></a>
                                            </td>
                                            <td  > 
                                                      <span class="name">{{demande.date_debut}}</span>
                                                
                                            </td>
                                            <td   > 
                                                 <span class="product">{{demande.date_fin}}</span>
                                                
                                             </td>
                                            <td >
                                                <button class="btn btn-primary rounded-pill text-light" (click)="ConsulterProg(demande)"> Consulter Programme</button><br><br>
                                                <a class="btn btn-primary rounded-pill text-light" [routerLink]="['/responsable/programmes', formationId,'inscriptions',demande.id]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" > Consulter Liste des participants</a>


                                            </td>

                                       
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="tab-pane fade " id="enattente" role="tabpanel" aria-labelledby="enattente-tab">
                                <br><br><br>
                                <div *ngIf="(demandesEA$ | async)?.length == 0" style="margin-left: 300px;margin-top: 100px;"><h3> <b> Aucune demande En Attente est trouvée</b></h3></div>
                                
                                  
                                <div class="table-stats order-table ov-h" style="float: left;">
                                     <table class="table " *ngIf="(demandesEA$ | async)?.length > 0">
                                 <thead>
                                            <tr>
                                                 
                                                <th>Formateur</th>
                                                <th>Date début</th>
                                                <th>Date Fin</th>
                                                
                                                 <th>Actions</th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor ="let demande of demandesEA$ | async;let i=index"> 
                                                 <td   >  
                                                    <a href="/profile/{{demande.formateur}}"><b> {{demande.formateur_name}} </b> </a>
                                                </td>
                                                <td > 
                                                          <span class="name">{{demande.date_debut}}</span>
                                                   
                                                </td>
                                                <td> 
                                                     <span class="product">{{demande.date_fin}}</span>
                                                    
                                                 </td>
                                                
                                                 <td  > 
                                                    <button type="button" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#acceptModal" (click)="showAcceptModel(i,demande)">Accepter</button>
                                                    <br><br> <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#declineModal" (click)="showAcceptModel(i,demande)">Réfuser</button>
     
                                               
                                                 </td>
    
                                           
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                    <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticModalLabel">Confirmer</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col col-md-8">
                                                         </div>
                                                    </div>

                                                    <p>
                                                     Etes Vous sur d'accepter cette Demande 
                                                   </p>
                                               </div>
                                               <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"  >Annuler</button>
                                                <button type="button" class="btn btn-success" (click)="Accepter(demande)" >Confirmer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticModalLabel">Confirmer</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebtn>
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                 Etes Vous sur de Refuser cette Demande 
                                               </p>
                                           </div>
                                           <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"  >Annuler</button>
                                            <button type="button" class="btn btn-danger" (click)="Refuser(demande)" >Confirmer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                                <!--<div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticModalLabel">Confirmer</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                 Etes Vous sur de Réfuser cette Demande 
                                               </p>
                                              
                                           </div>
                                           <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"  >Annuler</button>
                                            <button type="button" class="btn btn-danger" (click)="Refuser(demande)" >Confirmer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                                </div>
                                </div>
                                <div class="tab-pane fade show" id="refuses" role="tabpanel" aria-labelledby="refuses-tab">
                                    <br><br><br>
                                    <div *ngIf="(demandesR$ | async)?.length == 0" style="margin-left: 300px;margin-top: 100px;"><h3> <b> Aucune demande Réfusée est trouvée</b></h3></div>
                                
                                  
                                    <div class="table-stats order-table ov-h" style="float: left;">
                                         <table class="table " *ngIf="(demandesR$ | async)?.length > 0">
                                     <thead>
                                                <tr>
                                                     
                                                    <th>Formateur</th>
                                                    <th>Date début</th>
                                                    <th>Date Fin</th>

                                                    
                                                   
                                                 </tr>
                                            </thead>
                                            <tbody>
                                                  <tr *ngFor ="let demande of demandesR$|async;let i=index"> 
                                                    <td> 
                                                        <a href="/profile/{{demande.formateur}}"><b> {{demande.formateur_name}}  </b></a>
                                                    </td>
                                                    <td  > 
                                                              <span class="name">{{demande.date_debut}}</span>
                                                          
                                                    </td>
                                                    <td  > 
                                                         <span class="product">{{demande.date_fin}}</span>
                                                      </td>
                                                    
        
                                               
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                            </div>

                            
                         </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>