<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>
                            <input type="email" class="form-control" placeholder="Nom d'utilisateur">
                        </div>
                        <div class="form-group">
                            <label>Adresse email</label>
                            <input type="email" class="form-control" placeholder="Adresse Email">
                        </div>
                        <div class="form-group">
                            <label>Mot de Passe</label>
                            <input type="password" class="form-control" placeholder="Mot de Passe">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Acceptez les conditions et la politique
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30" (click)="inscrire()">S'inscrire</button>
                        <!--<div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Register with facebook</button>
                                <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Register with twitter</button>
                            </div>
                        </div>-->
                        <div class="register-link m-t-15 text-center">
                            <p>Vous avez déjà un compte? <a href="/login"> Se Connecter</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
