 <aside id="left-panel" class="left-panel">
    <!--<nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">-->
                  
                 
                  
                <!--<li class="menu-item-has-children dropdown">

                    <a href="/formations/list" class="dropdown-toggle">  Programme </a>
                    
                     
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle"   >  Paramétrage</a>
                    <ul>
                        <li>hh</li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" >  Demandes formateur</a>
                     
                </li>
  
                 
            </ul>-->
            <!--<ejs-accordion>
                <e-accordionitems  cdkDropList>
                  <e-accordionitem expanded="false" >
                    <ng-template #header>
                      <div >Programme Hancho</div>
                    </ng-template>
                    </e-accordionitem>
                    <e-accordionitem  expanded="true" *ngFor="let course of courses" >
                        <ng-template cdkDrag #header>
                          <div ><a [routerLink]="['/programmes', programmeID,'cours',course.id]"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >{{course.titre}}</a></div>
                        </ng-template>-->
                        <!--<ng-template #content>
                            <ejs-accordion>
                                <e-accordionitems>
                                  <e-accordionitem>
                                    <ng-template #header>
                                      <div><a class="btn btn-primary" style="margin-bottom: 2px;"> Archiver </a></div>
                                    </ng-template>
                                  </e-accordionitem>
                                  <e-accordionitem>
                                    <ng-template #header>
                                      <div><a class="btn btn-primary" style="margin-bottom: 2px;"> Supprimer </a></div>
                                    </ng-template>
                                  </e-accordionitem>
                                
                                </e-accordionitems>
                            </ejs-accordion>
                                 
                          </ng-template>-->
                          
                         
                   
                      <!--<ejs-accordion>
                        <e-accordionitems>
                          <e-accordionitem>
                            <ng-template #header>
                              <div><a class="btn btn-primary" style="margin-bottom: 2px;"> Liste des inscriptions </a></div>
                            </ng-template>
                          </e-accordionitem>
                          <e-accordionitem>
                            <ng-template #header>
                              <div><a class="btn btn-primary" style="margin-bottom: 2px;"> Sous Programme</a></div>
                            </ng-template>
                          </e-accordionitem>
                          <e-accordionitem>
                            <ng-template #header>
                              <div><a class="btn btn-primary" style="margin-bottom: 2px;"> Cours</a></div>
                            </ng-template>
                          </e-accordionitem>
                          
                        </e-accordionitems>
                      </ejs-accordion>-->
                   <!--</e-accordionitem>
                  </e-accordionitems>
                  </ejs-accordion>-->
         <!--</div> 
    </nav>-->
  </aside> 
   