<app-courses-program-employe></app-courses-program-employe>
<div id="right-panel" class="right-panel">
  <app-navbar></app-navbar> 

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Cours {{cours.titre}}</strong>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">

                            <ul class="nav d-flex justify-content-center">
                                <li class="nav-item mx-lg-4">
                                    <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" id="presentation-tab" data-toggle="tab" href="#presentation" role="tab" aria-controls="presentation" aria-selected="true"  (click)="presentation()" >Présentation</a>
                                </li>
                                <li class="nav-item mx-lg-4">
                                    <a class="filter-btn nav-link btn-outline-primary shadow rounded-pill text-dark px-4 light-300"  id="materiel-tab" data-toggle="tab" href="#materiel" role="tab" aria-controls="materiel" aria-selected="true" (click)="materiel()"  >Documents</a>
                                </li>
                                <li class="nav-item mx-lg-4">
                                    <a class="filter-btn nav-link btn-outline-primary shadow rounded-pill text-dark px-4 light-300"  id="reunions-tab" data-toggle="tab" href="#reunions" role="tab" aria-controls="reunions" aria-selected="true"    (click)="reunion()" >Réunions</a>
                                </li>
                            </ul>
                             
                          
                          <!-- Tab panes -->
                          <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="presentation" role="tabpanel" aria-labelledby="presentation-tab">

                             <div class="row">
                              <div class="col-sm-12">
                                <br><br><br>
                                <div class="jumbotron" style="background-color: white;">
                                   <form   class="form-horizontal">
                                    <div class="row form-group">
                                        <div class="col col-md-2">
                                            <label   class=" form-control-label"><b> Titre :</b> </label>
                                        </div>
                                            <div class="input-group col col-md-3">
                                            {{cours.titre}}
                                            </div>
                                            <div class="col col-md-2">
                                                <label   class=" form-control-label"> <b> Programme : </b></label>
                                            </div>
                                                <div class="input-group col col-md-3">
                                                 {{cours.programme_name}}
                                                </div>
                                        </div>
                                        <div class="row form-group">
                                          <div class="col col-md-2">
                                              <label   class=" form-control-label"><b> Description : </b></label>
                                          </div>
                                              <div class="input-group col col-md-8">
                                              {{cours.description}}
                                              </div>
                                               
                                          </div>
                                          <div class="row form-group">
                                            <div class="col col-md-2">
                                                <label   class=" form-control-label"><b> Date : </b></label>
                                            </div>
                                                <div class="input-group col col-md-8">
                                                {{cours.date}}
                                                </div>
                                                 
                                            </div>
                                            <div class="row form-group">
                                              <div class="col col-md-2">
                                                  <label   class=" form-control-label"><b> Heure Début : </b></label>
                                              </div>
                                                  <div class="input-group col col-md-3">
                                                  {{cours.startHour}}
                                                  </div>
                                                  <div class="col col-md-2">
                                                      <label   class=" form-control-label"><b> Heure Fin :</b></label>
                                                  </div>
                                                      <div class="input-group col col-md-3">
                                                       {{cours.endHour}}
                                                      </div>
                                              </div>

                                  </form>
                                </div>
                              </div>
                            </div>
                            </div>
                            <div class="tab-pane fade show " id="materiel" role="tabpanel" aria-labelledby="materiel-tab">
                              <div class="row">
                                <div class="col-sm-12">
                                    <br><br><br>
                                   <div class="card"> 
                                     <div class="card-body"> <h4 class="box-title"> Liste des Documents</h4></div>
                                     <div class="card-body"> 
                                     <!--<div class="jumbotron" style="background-color: white;">-->
                                      
                                      
                                       <div *ngIf="cours.documents.length > 0"> 
                                      
                                         <ul
                                          class="list-group list-group-flush"
                                          *ngFor="let document of cours.documents;let i=index "
                                        >
                                          <li class="list-group-item">
                                            <!--<a href="{{ file.piece_jointe }}">{{ {{ files[i].name}}  }}</a> --><!--<button class="button" (click)="downloadFile(file)" >download</button>-->
                                           <a   href="{{document.piece_jointe}}">  {{ document.file_name}}  </a> 
                                            
                                            
                                          </li>
                                        </ul>
                                     </div>
                                     <div *ngIf="cours.documents.length == 0">
                                      <b style="margin-left: 200px;">  Aucun document est disponible pour  ce cours</b>
                                     </div>
                                     </div>
                                     </div>
                                     </div>


                                       <br><br><br>
                                      
                                        
                                     </div>
                            </div>
                            <div class="tab-pane fade show" id="reunions" role="tabpanel" aria-labelledby="reunions-tab">
                              <div class="row">
                               <div class="col-sm-12">
                                 <br> 
                                 <!--<div class="jumbotron" style="background-color: white;">-->
                                     
                                      <div class="card"> 
                                      <div class="card-body"> <h4 class="box-title"> Reunion</h4></div>
                                      <div class="card-body"> 
                               
                                     
                                      
                                         <div class="row form-group" *ngIf="cours.reunion">
                                           <div class="col col-md-2">
                                             <label   class=" form-control-label">Lien du reunion </label>
                                         </div>
                                             <div   class="input-group col col-md-6">
                                               {{cours.reunion.lien}}

                                               </div>
                                           </div>
                                           <div class="row form-group" *ngIf="!cours.reunion">
                                            
                                            <b style="margin-left: 200px;">
                                            Reunion n'est pas encore disponible
                                            </b>
                                           </div>

                                           </div>
                                           </div>
                                           
                                     <br> 
                                     <div class="card"> 
                                       <div class="card-body"> <h4 class="box-title"> Enregistrements</h4></div>
                                       <div class="card-body">
                                     <!--<div class="jumbotron" style="background-color: white;">-->
                                          <div class="row form-group">
                                         
                                          
                                             <div *ngIf="cours.enregistrements.length > 0"> 
                                         
                                             <table   class="table" style="width:90%;margin-left: 10px;">
                                             <thead>
                                               <th>Lien Enregistrement</th>
                                               <th>Date </th>
                                               
                                               </thead>
                                               <tbody> 
                                               <tr
                                               *ngFor="let enregistrement of cours.enregistrements; index as i">

                                               <td>
                                                 {{ enregistrement.lien }}
 
                                                </td>
                                               <td>
                                                 {{enregistrement.date}}
                                                </td>
                                               
                                           </tr>

                                         
                                                 
                                               </tbody>
                                                 </table>  
                                             </div>
                                             <div *ngIf="cours.enregistrements.length == 0">
                                               <b style="margin-left: 200px;">Aucun enregistrement disponible pour ce cours</b>
                                             </div>
                                       
                                   
                                        </div>
                                        </div>
                                     </div> 
                                    </div>
                                    </div>
                           </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



                         