<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <br>
            <br>
            <ul class="nav navbar-nav">
                <li style="margin-top: 30px;">
                    <a href="employé/programmes">Liste des Programmes </a>
                </li>
                <br><br>
                <li style="margin-top: 30pxs;">
                    <a href="employé/mesprogrammes" > Mes Programmes </a>
                </li>
            </ul>
                 
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>